@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Social Login</h1>
    <p class="lead">A sample sceleton for application allowing user to authenticate using social media</p>
</div>
