
@{
    ViewBag.Title = "Index";
}

<div class="center">
    <button class="btn btn-xlarge btn-facebook"><i class="fa fa-facebook"></i> | Login with Facebook</button>
    <button class="btn btn-xlarge btn-twitter"><i class="fa fa-twitter "></i> | Login with Twitter</button>
    <button class="btn btn-xlarge btn-github"><i class="fa fa-github"></i> | Login with Github</button>
    <button class="btn btn-xlarge btn-linkedin"><i class="fa fa-linkedin"></i> | Login with LinkedIn</button>
</div>
